<!DOCTYPE html>
<html>
<head>
  <title>Mypocketlibrary</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="/assets/bandeau.css">
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
   
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        	<p></p>
        	
            <!--<p class="brand" style="garamon" width="150">MyPocketLibrary</p> <-->
             <a class="brand" href="/">MyPocketLibrary</a>
            <ul class="nav">
                <li class=""><a href="/selection/index">Offre</a></li>
                <li class=""><a href="/contact">|Contact</a></li>
                
                
                <% if current_user.nil? %> 
                	<li class=""><a href="/users/new">|Inscription</a></li>  
                	<li class=""><a href="/sessions/new">|Connexion</a></li>
                <% else %>             
                	<li class=""><a href="/forums">|Forum</a></li>
                	<% if current_user.is_admin %> 
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">|Admin<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<a href="/users">Liste Utilisateurs</a>
								</li>
	
							</ul>
						</li>
                	<% end %>

                	<li class=""><%= link_to "|Déconnexion (#{ current_user.login })", "/sessions/destroy", :method => :delete %></li>
                <% end %>
                
            </ul>
        </div>
    </div>
</div>
</head>
<body>

<% if notice %>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= notice %>
</div>	
<% end %>

<% if alert %>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= alert %>
</div>	
<% end %>

<div class="container">
    <%= yield %>
</div>

<footer>
    <div class="container">
        MyPocketLibrary 2012
    </div>
</footer>

</body>
</html>
